{% extends 'teaching/detail/ita.html' %}

{% block course_data_title %}{% include 'teaching/detail/31337/title.html' %}{% endblock %}
{% block course_data_year_start %}2012{% endblock %}
{% block course_data_year_end %}2013{% endblock %}
{% block course_data_org %}{% include 'teaching/detail/31337/2012/org.html' %}{% endblock %}
{% block course_data_instructor %}Federico Maggi{% endblock %}
{% block course_data_ta %}Non previsto{% endblock %}
{% block course_data_lab %}Non previsto{% endblock %}
{% block course_data_url %}{% include 'teaching/detail/31337/2012/url.html' %}
{% endblock %}

{% block course_data_description %}
    {% include 'teaching/detail/081369/2012/description.html' %}
{% endblock %}
