{% extends 'teaching/detail/ita.html' %}

{% block course_data_title %}{% include 'teaching/detail/081369/title.html' %}{% endblock %}
{% block course_data_year_start %}2012{% endblock %}
{% block course_data_year_end %}2013{% endblock %}
{% block course_data_org %}{% include 'teaching/detail/081369/2012/org.html' %}{% endblock %}
{% block course_data_instructor %}Giacomo Boracchi{% endblock %}
{% block course_data_ta %}Federico Maggi{% endblock %}
{% block course_data_lab %}Marco Santambrogio{% endblock %}
{% block course_data_url %}{% include 'teaching/detail/081369/2012/url.html' %}
{% endblock %}

{% block course_data_description %}
    {% include 'teaching/detail/081369/2012/description.html' %}
{% endblock %}

{% block content_practice %}
<div class="row">
    <div class="four columns">
        <div class="panel">
            <h6>Algoritmi in pseudocodice</h6>
            <h6 class="subheader">28/09/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Comprensione e scrittura di algoritmi scritti in un semplice pseudolinguaggio.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">pseudolinguaggio</span>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <h6>Costrutto <code>if</code></h6>
            <h6 class="subheader">05/10/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Scrittura di algoritmi che richiedono il costrutto condizionale.</p>
            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">linguaggio C</span>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <h6>Costrutto <code>while</code></h6>
            <h6 class="subheader">12/10/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Scrittura di algoritmi che richiedono l'uso di cicli.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">linguaggio C</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="four columns">
        <div class="panel">
            <h6>Costrutto <code>for</code> e vettori</h6>
            <h6 class="subheader">19/10/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Scrittura di algoritmi che richiedono l'uso di vettori e cicli.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">linguaggio C</span>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <h6>Costrutto <code>switch</code>, stringhe e matrici</h6>
            <h6 class="subheader">26/10/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Scrittura di algoritmi che richiedono l'uso di stringhe, matrici, e costrutti condizionali complessi.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">linguaggio C</span>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <h6>Strutture dati</h6>
            <h6 class="subheader">02/11/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Definizione di strutture dati complesse tramite dichiarazioni <code>struct</code>.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">linguaggio C</span>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="four columns">
        <div class="panel">
            <h6>Introduzione a MATLAB</h6>
            <h6 class="subheader">09/11/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Programmazione funzionale in MATLAB.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">MATLAB</span>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <h6>Operazioni logiche, ricerca, costrutti</h6>
            <h6 class="subheader">16/11/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Pratica con operazioni logiche su vettori e matrici.</p>
            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">MATLAB</span>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <h6>Costrutti di controllo e strutture dati</h6>
            <h6 class="subheader">23/11/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Scrittura di algoritmi che richiedono l'uso di costrutti di controllo come <code>if</code> o <code>for</code> e strutture dati.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">MATLAB</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="four columns">
        <div class="panel">
            <h6>Definizione e uso di funzioni</h6>
            <h6 class="subheader">30/11/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Scrittura di algoritmi che richiedono la definizione di funzioni.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">MATLAB</span>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <h6>File e ricorsione</h6>
            <h6 class="subheader">07/12/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Scrittura di algoritmi ricorsivi e lettura-scrittura di dati da-su file testuali.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">MATLAB</span>
        </div>
    </div>
    <div class="four columns">
        <div class="panel">
            <h6>Ricorsione, funzioni di ordine superiore e mesh</h6>
            <h6 class="subheader">14/12/2012 <span class="label">12:30</span> <span class="label success">CT.04</span></h6>
            <p>Conclusione sulla ricorsione, uso di funzioni di ordine superiore e mesh.</p>

            <h6>Materiale</h6>
            <ul class="plain">
                <li><i class="general foundicon-page"></i> <a href="">Esercizi</a></li>
                <li><i class="general foundicon-idea"></i> <a href="">Soluzioni</a></li>
            </ul>
            <span class="label alert right round">MATLAB</span>
        </div>
    </div>
{% endblock %}
